@import "tailwindcss";

:root {
  --background: #b8cdcd;
  --foreground: #171717;
  --container: 80rem;          /* 1280px */
  --radius: 14px;

  --surface: #ffffff;
  --surface-2: #f5f7fa;
  --border: rgba(0, 0, 0, 0.10);
  --muted: rgba(0, 0, 0, 0.6);

  /* Header / Topbar */
  --topbar-bg: #eef2f5;        /* можешь менять */
  --header-bg: #dde6ee;       
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3 {
  letter-spacing: -0.015em;
}
